@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}


body {
  padding: 0;
  margin: 0;
  background-color: #3b3b3b;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}